:root {
  --basic-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway";
  --basic-bakground-color: #ffffff;
  --brand-text-color: #4d5ae5;
  --heading-text-color: #2e2f42;
  --success-text-color: #31d0aa;
  --body-text-color: #434455;
  --subtl-text-color: #8e8f99;
  --accent-text-color: #e7e9fc;
  --light-text-color: #f4f4fd;
}
body {
  background-color: var(--basic-bakground-color);
  font-family: var(--basic-font-family);
  font-style: normal;
  font-weight: 400;
  color: var(--brand-text-color);
}
.web {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--brand-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--heading-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--heading-text-color);
}
.link:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  text-decoration: underline;
}
.link:focus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-text-color);
}
.section1 {
  background-color: var(--heading-text-color);
}
.header1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  color: var(--basic-bakground-color);
}
.button {
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  background: var(--brand-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--basic-bakground-color);
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover {
  width: 170px;
  height: 51px;
  left: 20px;
  top: 88px;
  background: var(--brand-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.button:focus {
  width: 170px;
  height: 51px;
  left: 20px;
  top: 156px;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.header-none {
  display: none;
}
.our-advantages {
  list-style-type: none;
}
.topics-our-advantages {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.text-our-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.header2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.we-doing,
.our-team {
  list-style-type: none;
}
.team-description {
  background-color: var(--basic-bakground-color);
}
.section4 {
  background-color: var(--light-text-color);
}
.our-employees {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.employeess-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.web-footer {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
  text-transform: uppercase;
}
.studio-footer {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  text-transform: uppercase;
}
.footer {
  background-color: var(--heading-text-color);
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
/*Portfolio css*/

.filter,
.all-topics {
  display: none;
}
.all-topics-list,
.filter-buttons {
  list-style-type: none;
}
.fiter-buttons-size {
  height: 48px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.all {
  width: 69px;
  background: var(--brand-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--basic-bakground-color);
}
.web-site {
  width: 116px;
  background: var(--light-text-color);
  border: 1px solid var(--accent-text-color);
  color: var(--brand-text-color);
}
.app {
  width: 78px;
  background: var(--light-text-color);
  border: 1px solid var(--accent-text-color);
  color: var(--brand-text-color);
}
.design {
  width: 101px;
  background: var(--light-text-color);
  border: 1px solid var(--accent-text-color);
  color: var(--brand-text-color);
}
.marketing {
  width: 126px;
  background: var(--light-text-color);
  border: 1px solid var(--accent-text-color);
  color: var(--brand-text-color);
}
.header-of-topics {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.topics-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.image-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
